.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
  position: absolute;
}

.RichEditor-editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
  min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.RichEditor-editor .RichEditor-blockquote {
  border-left: 5px solid rgb(69, 67, 67);
  color: #666;
  font-family: 'Hoefler Text', 'Georgia', serif;
  font-style: italic;
  margin: 16px 0;
  padding: 10px 20px;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
  background-color: rgba(0, 0, 0, 0.05);
  font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
  font-size: 16px;
  padding: 20px;
}

.RichEditor-controls {
  font-family: 'Helvetica', sans-serif;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RichEditor-styleButton {
  color: #000;
  cursor: pointer;
  margin-right: 16px;
  padding: 0.4rem;
  border: 0.2px solid rgb(146, 146, 146);
  margin: 0.2rem;
  font-size: 0.8rem;
  border-radius: 50px;
  border-color: rgb(87, 147, 3);
  color: rgb(9, 183, 9);
}

.RichEditor-activeButton {
  color: #5890ff;
}

.RichEditor-styleButton:hover{
  transform: translateY(2px);
}

.App{
  display: flex;
  align-items: center;
  align-content: center;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.add-button{
  font-size: 2rem;
  margin-right: 2rem;
  color:rgb(54, 54, 54);
}

.main-container{
  margin: 4% 2% 5% 10%;
  display: flex;
}

.publish-button{
  margin-top: 5%;
}

.type-buttons-container{
  display: flex;
  align-items: center;
}

/* .editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
} */